<!doctype html>
<html lang="" ng-app="activitiesApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Client Board</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" href="images/touch/icon-128x128.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Web Starter Kit">
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->
    <link rel="stylesheet" type="text/css" media="screen" href="//cdn.muicss.com/mui-0.4.6/css/mui.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>

    <script src="//cdn.muicss.com/mui-0.4.6/js/mui.js"></script>
    <script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.1/material.deep_purple-pink.min.css">
    <!-- build:css styles/components/main.min.css -->
    <link rel="stylesheet" href="styles/h5bp.css">
    <link rel="stylesheet" href="styles/components/components.css">
    <link rel="stylesheet" href="styles/main.css">
    <link href='styles/fab.css' rel='stylesheet'>
    <link rel="stylesheet" href="styles/styles.css">
    
    <script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js"></script>

    <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    <!-- endbuild -->
  </head>
  <body>
    <header class="app-bar promote-layer">
      <div class="app-bar-container">
        <button class="menu"><img src="images/hamburger.svg" alt="Menu"></button>
        <h1 class="logo">Client Board</h1>

        <!-- Search -->
      <div class="mdh-expandable-search mdl-cell--hide-phone">
        <i class="material-icons">search</i>
        <form action="#">
          <input type="text" placeholder="Search" size="1" ng-model="search">
        </form>
      </div>

      <!-- Displayed on mobile -->
      <div class="mdl-layout-spacer mdl-cell--hide-tablet mdl-cell--hide-desktop"></div>
      <!-- Search button -->
      <button class="mdh-toggle-search mdl-button mdl-js-button mdl-button--icon mdl-cell--hide-tablet mdl-cell--hide-desktop">
        <i class="material-icons">search</i>
      </button>

        <section class="app-bar-actions" style="position: relative; z-index:3;">
        <!-- Put App Bar Buttons Here -->

        <button class="paper-button paper-floating-action-button small" style="position: absolute; top: 39px; right: 15px;" id="btn1">+
          <div class="ripple">button 1</div>
        </button>
        </section>
      </div>
    </header>
    <div id="mask"></div>
    <nav class="navdrawer-container promote-layer">
      <h4>Navigation</h4>
      <ul>
        <li><a id="activitiesLink">Activities</a></li>
        <li><a id="groupLink">By Group</a></li>
        <li><a id="contactLink">By Contact</a></li>
        <li><a id="partnerLink">By Partner</a></li>
        <li><a id="contactsLink">Contacts</a></li>
        <li><a href="#">Client News</a></li>
        <li><a href="#">Matters</a></li>
      </ul>
    </nav>
    <main ng-controller="activitiesController">
      <div id="formContainer" style="display:none;" class="card paper-shadow-top-z-1 mdl-menuzz mdl-js-menuzz mdl-menu--bottom-rightzz" for="btn1">
        <form id="form1" style="display:none;">
          <legend>Add Activity</legend>
          
          <div class="mui-textfield">
            <input type="date" ng-model="newActivity.date">
          </div>
          
          <div class="mui-select" ng-controller="contactsLookupController">
            <div style="color:#bbb;">Contact</div>
            <select ng-model="newActivity.contactName">
              <option ng-repeat="contact in contactList" value="{{contact.name}}">{{contact.name}}</option>
           </select>
          </div>
          
          <div class="mui-textfield">
            <input type="text" name="partner" placeholder="Partner name" ng-model="newActivity.partner">
          </div>
          
          <div class="mui-textfield">
            <textarea name="notes" placeholder="Notes" ng-model="newActivity.notes"></textarea>
          </div>
          
          <div class="mui-select">
            <div style="color:#bbb;">Category</div>
            <select ng-model="newActivity.type">
              <option value="phone">Phone call</option>
              <option value="message">Left message</option>
              <option value="store">Meal</option>
            </select>
          </div>
          
          <input ng-click="addA()" type="submit" value="Submit" style="width:100px; height:40px;" class="mui-btn mui-btn--raised">
          <a href="#" id="formCancel" class="activityMeta" style="float:right; margin:15px 6px 0 0;" ng-click="cancel()">Cancel</a>
        </form>
      </div>
      <div id="activities" class="section">
        <h2>All Activities</h2>
        <div class="aContainer">
          <div ng-repeat="activity in activities | orderBy:'-$id' | filter:search" class="card paper-shadow-top-z-1">
              <i style="float:right;" class="material-icons">{{activity.type}}</i>
              <div class="activityMeta" style="clear:right; float:right;">
                 <a href="#" ng-click="activities.$remove(activity)">Delete</a>
              </div>
            <div class="activityDescription">{{activity.notes}}</div>
            <div class="activityMeta">{{activity.date | date:'shortDate'}} - {{activity.partner}} with {{activity.contact}}</div>
          </div>
        </div>
      </div>
      <div id="byPartner" class="section" style="display:none;"> 
        <h2>Activities by Partner</h2>
        <div class="aContainer">
          <div ng-repeat="activity in activities | orderBy:'partner'" class="card paper-shadow-top-z-1">
              <i style="float:right;" class="material-icons">{{activity.type}}</i>
              <div class="activityMeta" style="clear:right; float:right;">
                 <a href="#" ng-click="activities.$remove(activity)">Delete</a>
              </div>
            <div class="activityDescription">{{activity.notes}}</div>
            <div class="activityMeta">{{activity.date}} - {{activity.partner}} with {{activity.contact}}</div>
          </div>
        </div>
      </div>
      <div id="byGroup" class="section" style="display:none;"> 
        <h2>Activities by Group</h2>
        <div class="aContainer">
          <div ng-repeat="activity in activities | orderBy:'contact'" class="card paper-shadow-top-z-1">
              <i style="float:right;" class="material-icons">{{activity.type}}</i>
              <div class="activityMeta" style="clear:right; float:right;">
                 <a href="#" ng-click="activities.$remove(activity)">Delete</a>
              </div>
            <div class="activityDescription">{{activity.notes}}</div>
            <div class="activityMeta">{{activity.date}} - {{activity.partner}} with {{activity.contact}}</div>
          </div>
        </div>
      </div>
      <div id="byContact" class="section" style="display:none;"> 
        <h2>Activities by Contact</h2>
        <div class="aContainer">
          <div ng-repeat="activity in activities | orderBy:'contact'" class="card paper-shadow-top-z-1">
              <i style="float:right;" class="material-icons">{{activity.type}}</i>
              <div class="activityMeta" style="clear:right; float:right;">
                 <a href="#" ng-click="activities.$remove(activity)">Delete</a>
              </div>
            <div class="activityDescription">{{activity.notes}}</div>
            <div class="activityMeta">{{activity.date}} - {{activity.partner}} with {{activity.contact}}</div>
          </div>
        </div>
      </div>
      <div id="contacts" ng-controller="contactsController" class="section" style="display:none;">
        <h2>Contacts</h2>
        <div class="aContainer">
          <div ng-repeat="contact in contacts track by $index" class="card paper-shadow-top-z-1">
            <div class="contactGroup">{{contact.group}}</div>
            <div class="activityDescription">{{contact.name}} ({{contact.title}})</div>
            <div class="activityMeta">{{contact.phone}}</div>
          </div>
        </div>
      </div>
       </main>
        <footer class="mdl-mega-footer">
          <div class="mdl-mega-footer--middle-section">
            <div class="mdl-mega-footer--drop-down-section">
              <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
              <h1 class="mdl-mega-footer--heading">Features</h1>
              <ul class="mdl-mega-footer--link-list">
                <li><a href="#">About</a></li>
                <li><a href="#">Terms</a></li>
                <li><a href="#">Partners</a></li>
                <li><a href="#">Updates</a></li>
              </ul>
            </div>
            <div class="mdl-mega-footer--drop-down-section">
              <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
              <h1 class="mdl-mega-footer--heading">FAQ</h1>
              <ul class="mdl-mega-footer--link-list">
                <li><a href="#">Questions</a></li>
                <li><a href="#">Answers</a></li>
                <li><a href="#">Contact us</a></li>
              </ul>
            </div>
          </div>
        </footer>
      
    <script src="scripts/main.js"></script>
    <script src="https://code.getmdl.io/1.1.1/material.min.js"></script>
   <script src="scripts/app.js"></script>
   
  </body>
</html>
