<!doctype html>
<html lang="" ng-app="activitiesApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Client Board</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" href="images/touch/icon-128x128.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Web Starter Kit">
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->
    <link rel="stylesheet" type="text/css" media="screen" href="//cdn.muicss.com/mui-0.4.6/css/mui.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="//cdn.muicss.com/mui-0.4.6/js/mui.js"></script> 
    <script src="scripts/appExt.js"></script>
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.1/material.deep_purple-pink.min.css">
    <!-- build:css styles/components/main.min.css -->
    <link rel="stylesheet" href="styles/h5bp.css">
    <link rel="stylesheet" href="styles/components/components.css">
    <link rel="stylesheet" href="styles/main.css">
    <link href='styles/fab.css' rel='stylesheet'>
    <link rel="stylesheet" href="styles/styles.css">
    
    <!-- endbuild -->
  </head>
  <body>
    <header class="app-bar promote-layer">
      <div class="app-bar-container">
        <button class="menu"><img src="images/hamburger.svg" alt="Menu"></button>
        <h1 class="logo">Client Board</h1>
        <section class="app-bar-actions" style="position: relative; z-index:3;">
        <!-- Put App Bar Buttons Here -->

        <button class="paper-button paper-floating-action-button small" style="position: absolute; top: 39px; right: 15px;" id="btn1">+
          <div class="ripple">button 1</div>
        </button>
        </section>
      </div>
    </header>
    <div id="mask"></div>
    <nav class="navdrawer-container promote-layer">
      <h4>Navigation</h4>
      <ul>
        <li><a id="activitiesLink">Activities</a></li>
        <li><a id="groupLink">By Group</a></li>
        <li><a id="contactLink">By Contact</a></li>
        <li><a id="contactsLink">Contacts</a></li>
        <li><a href="#">Client News</a></li>
        <li><a href="#">Matters</a></li>
      </ul>
    </nav>

    <main ng-controller="activitiesController">
      <div id="formContainer" style="display:none;" class="card paper-shadow-top-z-1 mdl-menuzz mdl-js-menuzz mdl-menu--bottom-rightzz" for="btn1">
        <form id="form1" style="display:none;">
          <legend>Add Activity</legend>
          <div class="mui-textfield">
            <input type="text" placeholder="Today" ng-model="date">
          </div>
          <div class="mui-textfield">
            <input type="text" placeholder="Contact name" ng-model="contact">
          </div>
          <div class="mui-textfield">
            <input type="text" placeholder="Partner name" ng-model="partner">
          </div>
          <div class="mui-textfield">
            <input type="text" placeholder="Category" ng-model="type">
          </div>
          <div class="mui-textfield">
            <textarea placeholder="Notes" ng-model="notes"></textarea>
          </div>
          <input ng-click="addA()" type="submit" value="add" style="width:100px; height:40px;" class="mui-btn mui-btn--raised">
        </form>
      </div>
      <div id="activities" class="section">
        <h2>All Activities</h2>
        <div class="aContainer">
          <div ng-repeat="activity in activities track by $index" class="card paper-shadow-top-z-1">
              <i style="float:right;" class="material-icons">{{activity.type}}</i>
              <div class="activityMeta" style="clear:right; float:right;">
                <a href="#" ng-click="deleteA($index)">Delete</a>
              </div>
            <div class="activityDescription">{{activity.notes}}</div>
            <div class="activityMeta">{{activity.date}} - {{activity.partner}} with {{activity.contact}}</div>
          </div>
        </div>
      </div>
      <div id="contacts" class="section" style="display:none;">
        <h2>Contacts</h2>
        <div ng-controller="contactsController" class="aContainer">
          <div ng-repeat="contact in contacts track by $index" class="card paper-shadow-top-z-1">
            <div class="contactGroup">{{contact.group}}</div>
            <div class="activityDescription">{{contact.name}} ({{contact.title}})</div>
            <div class="activityMeta">{{contact.phone}}</div>
          </div>
        </div>
      </div>
      <div id="byGroup" class="section" style="display:none;"> 
        <h2>Activities by Group</h2>
        <div class="groupName">
            <button style="float:right;" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="btn3">
              <i class="material-icons">more_vert</i>
            </button>
            <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="btn3">
              <li class="mdl-menu__item">Contacts</li>
              <li class="mdl-menu__item">Details</li>
              <li class="mdl-menu__item">Matters</li>
              <li class="mdl-menu__item">Lexis News</li>
            </ul>
            <h4>Mergers</h4>
        </div>
        <div class="groupName">
            <button style="float:right;" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="btn4">
              <i class="material-icons">more_vert</i>
            </button>
            <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="btn4">
              <li class="mdl-menu__item">Lorem</li>
              <li class="mdl-menu__item" disabled>Ipsum</li>
              <li class="mdl-menu__item">Dolor</li>
            </ul>
            <h4>Credit</h4>
        </div>
          <div class="card paper-shadow-top-z-1">
            <i style="float:right;" class="material-icons">store</i>
            <div class="activityDescription">Client lunch, discussed project Alpha.</div>
            <div class="activityMeta">Today - Paul Andersen with Amy Parson</div>
          </div>
          <div class="card paper-shadow-top-z-1">
            <i style="float:right;" class="material-icons">games</i>
            <div class="activityDescription">Knicks game, discussed new credit issuance.</div>
            <div class="activityMeta">Tuesday Feb 23 - Craig Miller with James Martin</div>
          </div>
          <div class="card paper-shadow-top-z-1">
            <i style="float:right;" class="material-icons">message</i>
            <div class="activityDescription">Left message re: project Bravo.</div>
            <div class="activityMeta">Monday Feb 22 - Craig Miller with Anne Jamison.</div>
          </div>
        <div class="groupName">
            <button style="float:right;" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="btn5">
              <i class="material-icons">more_vert</i>
            </button>
            <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="btn5">
              <li class="mdl-menu__item">Lorem</li>
              <li class="mdl-menu__item" disabled>Ipsum</li>
              <li class="mdl-menu__item">Dolor</li>
            </ul>
            <h4>Securities</h4>
        </div>
        <div class="groupName">
            <button style="float:right;" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="btn6">
              <i class="material-icons">more_vert</i>
            </button>
            <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="btn6">
              <li class="mdl-menu__item">Lorem</li>
              <li class="mdl-menu__item" disabled>Ipsum</li>
              <li class="mdl-menu__item">Dolor</li>
            </ul>
            <h4>Equity</h4>
        </div>
      </div>
      <div id="byContact" class="section" style="display:none;"> 
        <h2>Activities by Contact</h2>
        <div class="groupName">
            <button style="float:right;" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="btn7">
              <i class="material-icons">more_vert</i>
            </button>
            <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="btn7">
              <li class="mdl-menu__item">Lorem</li>
              <li class="mdl-menu__item" disabled>Ipsum</li>
              <li class="mdl-menu__item">Dolor</li>
            </ul>
            <h4>James Martin</h4>
        </div>
          <div class="card paper-shadow-top-z-1">
            <i style="float:right;" class="material-icons">phone</i>
            <div class="activityDescription">Conference call, discussed project Tomcat.</div>
            <div class="activityMeta">Today - Paul Andersen with James Martin</div>
          </div>
          <div class="card paper-shadow-top-z-1">
            <i style="float:right;" class="material-icons">store</i>
            <div class="activityDescription">Client dinner, discussed new credit issuance.</div>
            <div class="activityMeta">Yesterday - Craig Miller with James Martin</div>
          </div>
        <div class="groupName">
            <button style="float:right;" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="btn8">
              <i class="material-icons">more_vert</i>
            </button>
            <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="btn8">
              <li class="mdl-menu__item">Lorem</li>
              <li class="mdl-menu__item" disabled>Ipsum</li>
              <li class="mdl-menu__item">Dolor</li>
            </ul>
            <h4>Jason Harris</h4>
        </div>
        <div class="groupName">
            <button style="float:right;" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="btn9">
              <i class="material-icons">more_vert</i>
            </button>
            <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="btn9">
              <li class="mdl-menu__item">Lorem</li>
              <li class="mdl-menu__item" disabled>Ipsum</li>
              <li class="mdl-menu__item">Dolor</li>
            </ul>
            <h4>Susan Thomas</h4>
        </div>
      </div>
       </main>
        <footer class="mdl-mega-footer">
          <div class="mdl-mega-footer--middle-section">
            <div class="mdl-mega-footer--drop-down-section">
              <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
              <h1 class="mdl-mega-footer--heading">Features</h1>
              <ul class="mdl-mega-footer--link-list">
                <li><a href="#">About</a></li>
                <li><a href="#">Terms</a></li>
                <li><a href="#">Partners</a></li>
                <li><a href="#">Updates</a></li>
              </ul>
            </div>
            <div class="mdl-mega-footer--drop-down-section">
              <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
              <h1 class="mdl-mega-footer--heading">FAQ</h1>
              <ul class="mdl-mega-footer--link-list">
                <li><a href="#">Questions</a></li>
                <li><a href="#">Answers</a></li>
                <li><a href="#">Contact us</a></li>
              </ul>
            </div>
          </div>
        </footer>
      
   

    <!-- build:js scripts/main.min.js -->
    <script src="scripts/main.js"></script>
    <!-- endbuild -->

    <!-- Built with love using Web Starter Kit -->
    <script src="https://code.getmdl.io/1.1.1/material.min.js"></script>
  </body>
</html>
